#pragma code_page(65001)
#include <windows.h>

101 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // 0804 是中文代码，04b0 (1200) 代表 Unicode 编码
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "monstertsl"
            VALUE "FileDescription", "自动获取网络信息并合成壁纸"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "WallpaperTool"
            VALUE "LegalCopyright", "Copyright (C) 2026 monstertsl"
            VALUE "OriginalFilename", "WallpaperTool.exe"
            VALUE "ProductName", "WallpaperTool"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END